#breadcrumbsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    background-color: var(--blend-primary-secondary-5);
    border-radius: .25rem;
    width: fit-content;

  .breadcrumb-item {
      display: flex;
      align-items: center;
      padding-right: 0.5rem;
      font-size: var(--font-up-1);

      & + .breadcrumb-item::before {
          content: "/";
          display: inline-block;
          padding-right: 0.5rem;
          color: var(--primary-med-or-secondary-med);
          font-weight: normal;
      }
    
      .home {
        position: relative;
        padding-left: .5rem;
        padding-right: 0;
      }

      a {
          text-decoration: none;
          font-style: italic;

          &:hover {
              text-decoration: underline;
          }
      }

      &.active {
display: none;
          color: var(--primary-medium);
          font-weight: bold;
      }
  }
}
