#breadcrumbsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
  list-style: none;
  /* background-color: var(--blend-primary-secondary-5); */
  background-color: var(--header_background);
  border-radius: .25rem;
  width: fit-content;
  /* padding: 0 0.5rem; */
  padding: .2rem .5rem 0;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    /* font-size: var(--font-up-1); */
    font-style: italic;
      
    & + .breadcrumb-item::before {
      content: "<";
      color: var(--tertiary);
      padding: 0 0.5rem;
      }

      a {
        text-decoration: none;
          
        &:hover {
        text-decoration: underline;
        }
      }

      &.active {
          display: none;
          color: var(--primary-medium);
      }
  }
}
