#breadcrumbsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  background-color: var(--blend-primary-secondary-5);
  border-radius: .25rem;
  width: fit-content;
  padding: 0 0.5rem;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: var(--font-up-1);
      
    & + .breadcrumb-item::before {
      content: "🡄";
      color: var(--tertiary);
      padding: 0 0.5rem;
      }

      a {
        text-decoration: none;
        font-style: italic;
          
        &:hover {
        text-decoration: underline;
        }
      }

      &.active {
          display: none;
          color: var(--primary-medium);
      }
  }
}
